#### Day 1: Git and Data Structures

##### Part 1: Git and Github 

- Git is a version control system that allows developers or programmers to track changes in their code. 
- GitHub is a web-based hosting service for git repositories. 

<br>

For this course, you will need to use GitHub to get the course materials and submit your homework assignments to be graded. 


1. Install GitHub
    - Go to www.github.com
    - Create an account if you do not already have one. 
    - Follow these instructions (https://github.com/git-guides/install-git) to install git on any OS. 
        - For MAC users, follow the "Install Git from Homebrew" section is the easiest. 

<br>

2. Open up your Terminal / Commandline. Make sure you know where it is, since we will use it very often!

3. Go to our class repository on GitHub (i.e., click the link here):
    https://github.com/CeciliaYSui/pythoncamp2023 

4. `fork` the class repository:
    - Click on the `fork` in the top right corner. This will launch an animation, after which, you should end up on your own forked repository. 
    - This url should read like https://github.com/YOURUSERNAME/pythoncamp2023 

<br>    

5. `clone` your repository: 
    - Click the green `code` button and click the clipboard icon next to the url. 
    - Open terminal and use `cd` to go to the folder where you want to clone the repository. (Might be the easiest to have it on your Desktop? Just make sure you know where it is and you can find it.)
    - Type `git clone LINK_YOU_JUST_COPIED_FROM_THE_WEBSITE` and then hit enter.

#### üëè  Great job! You now have your own repository for the course!

<br>

Now you need to let GitHub know that _my_ repository is the origin repository so you can pull down changes later (where I will share all the course materials).

1. `cd` to the folder you just created. In terminal, type `git remote -v` and you will likely see: 
    - origin https://github.com/YOUR_USERNAME/YOUR_FORK.git (fetch)
    - origin https://github.com/YOUR_USERNAME/YOUR_FORK.git (push)

<br>

2. In terminal, type `git remote add upstream LINK_YOU_COPIED_FROM_MY_REPOSITORY`
    - This tells GitHub that my repository is the origin

<br>

3. If you did this correctly, when you type `git remote -v`, you should see something like:
    - origin https://github.com/YOUR_USERNAME/YOUR_FORK.git (fetch)
    - origin https://github.com/YOUR_USERNAME/YOUR_FORK.git (push)
    - upstream https://github.com/ORIGINAL_OWNER/ORIGINAL_REPOSITORY.git (fetch) 
    - upstream https://github.com/ORIGINAL_OWNER/ORIGINAL_REPOSITORY.git (push)


Once you have this folder on your computer, you can work on files within it or save new files to it. 

However, any changes you make locally will not sync to GitHub until you **push** them.


<br>

#### To Pull changes to GitHub: 
Pulling will add changes from the origin (i.e. my repository, when I share new materials) to your repository. It will NOT overwrite anything you have added on your end. So don't worry!
1. In Terminal, navigate to the local repository on your computer. 
2. Type `git fetch upstream`
3. Type `git checkout main`
4. Type `git merge upstream/main`

I will now add day01's lecture on to my repository. Then try to pull the changes. 

If you have everything correctly, you should now have access to day01's lecture .ipynb file locally. 


#### To Push changes to GitHub: 
1. Use `cd` to navigate to the folder on your computer. 
2. `git status` allows you to check your uncommitted changes. 
3. `git add --all` or `git add *` adds all of your changes to be committed.
4. `git add FILENAME` adds just one file 
5. `git commit -m "YOUR SHORT MESSAGE"` commits the changes. Please put infromative message here.
6. `git push` pushes your changes to GitHub remotely where everyone could see it (of course, if it is public).

<br>

***

##### Part 2: Syntax, Loops, and Functions

Types of Objects: 
1. Variable: A simple object, for example, `a = 1`
2. List: [], A list is a collection of objects which is ordered and mutable 
3. Tuple: (), A tuple is a collection of objects which is ordered and immutable
4. Dictionary: {}, A dictionary is a collection which is unordered, changeable and indexed objects

Operators: 
- Addition					x `+` y
- Subtraction				x `-` y	
- Multiplication			x `*` y	
- Division					x `/` y	
- Modulus					x `%` y	
- Exponentiation  			x `**` y	
- Floor division			x `//` y
- Equal						x `==` y	
- Not equal					x `!=` y	
- Greater than				x `>` y	
- Less than					x `<` y	
- Greater than or equal to	x `>=` y	
- Less than or equal to		x `<=` y

- `and`, Returns True if both statements are true
- `or`, Returns True if one of the statements is true
- `not`, Reverse the result, returns False if the result is true
- `is`, Returns True if both variables are the same object
- `in`, Returns True if a sequence with the specified value is present in the object

<br>

Tips: 
- Be careful! Python is case-sensitive!
- See https://www.w3schools.com/python/python_operators.asp for a complete list.

#### 2.1 Data Type: Strings

In [3]:
# Single Quotes
name = 'Cecilia'

In [4]:
# Double Quotes 
# Can only use double quotes for strings that contain single quote characters 
age = "24"

In [7]:
# Combining strings, using .format{}
intro =  "Hi, my name is {}. I'm {} years old.".format(name, age)

In [13]:
# Combining strings, using +
intro = "Hi, I'm " + name + ", I'm " + age

In [17]:
# Triple Quotes, it produces a string that spans multiple lines
new_intro = """Hello!,
I'm Cecilia. 
What's up?"""
print(new_intro)
# new_intro

Hello!,
I'm Cecilia.
What's up?

In [18]:
# Characters in a string are indexable
intro

"Hi, I'm Cecilia, I'm 24"

In [19]:
intro[0] # Indexing starts at 0! not 1! 
# intro[3]

'H'

In [ ]:
# Strings are immutable, we cannot replace a character in a string
# intro[0] = "a"

In [20]:
# But, we can use a string to modify itself
intro = intro + ". I'm from China."
intro

"Hi, I'm Cecilia, I'm 24. I'm from China."

In [21]:
# We can also use +=
name += ' Sui' # same as name = name + ' Sui'
name

'Cecilia Sui'

In [22]:
# Though strings are immutable, we can split them
name.split() # Using ' ' as the default separator

['Cecilia', 'Sui']

In [23]:
# We can use any separator
name.split(sep = 'i')
# new_intro.split('\n') ## Using line break as separator

['Cec', 'l', 'a Su', '']

In [27]:
# We can index using negative numbers 
wustl = 'WashingtonUniversity'
wustl[-1] 

# Check how the characters are positioned...
#  0   1   2   3   4   5   6   7   8   9  10 11 12 13 14 15 16 17 18 19
#  W   a   s   h   i   n   g   t   o   n   U  n  i  v  e  r  s  i  t  y
#-20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# Notice that W is 0, but y is -1

'y'

In [28]:
# We can recover multiple characters from a string:
wustl[2:] ## index 2 through end

'shingtonUniversity'

In [29]:
wustl[-2:] ## index -2 through end

'ty'

In [31]:
wustl[:2] ## up to index 2, NOT inclusive at the index

'Wa'

In [32]:
wustl[:-2] # up to index -2

'WashingtonUniversi'

In [34]:
wustl[1:8] # sequence, from index 1 to 7, 
# remember: Python indexes are n through i exclusive; we drop the 'W' (index 0) and do not include 'o' (index 8)

'ashingt'

In [35]:
wustl[::2] ## sequence, every other

'WsigoUiest'

In [38]:
wustl[::-1] ## sequence, reverse the string

'ytisrevinUnotgnihsaW'

In [39]:
# We can use a loop to split a string into characters
[letter for letter in wustl] # the output is a list, more on this below

['W',
 'a',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y']

In [46]:
# We can join strings in a list using join
wustl_chr = [letter for letter in wustl] 
# wustl_chr
'-'.join(wustl_chr) # the output is a string

'W-a-s-h-i-n-g-t-o-n-U-n-i-v-e-r-s-i-t-y'

#### 2.2 Data Type: Integers

In [47]:
# We can use all mathematical operators with them
# Integers are not rounded down in Python 3
3/2 # result is a float not integer 
# type(3/2)

1.5

In [48]:
whole = 5//3
whole

1

In [49]:
remainder = 5 % 3
remainder

2

In [53]:
# these two formats are similar, however, format is more flexible in many instances 
print('This will print both a string: a name {} and a number: {}'.format(name, whole))
print('This will print both a string: a name %s and a number: %d' % (name, whole))
# print('This will cause an error: %d, %d' % (name, whole))

This will print both a string: a name Cecilia Sui and a number: 1
This will print both a string: a name Cecilia Sui and a number: 1

In [55]:
# As with strings, the assignment is flexible
five = 5

In [56]:
five += 1

In [58]:
five /= 3

In [60]:
five -= 1

In [61]:
five *= 2

In [62]:
five

2.0

In [63]:
type(five)

float

#### 2.3 Data Type: Float

In [67]:
# Real numbers
# Add decimal to integer
# type(12) # integer
type(12.0) # float

float

In [69]:
# In Python 3, these are equal. 
12/5 == 12.0/5

True

In [68]:
12 == 12.0
# type(12) is type(12.0)

True

#### 2.4 Data Type: List

In [ ]:
# A list is a collection of objects which is ordered and mutable 
# Lists can be changed
# Lists can include multiple object types
# Lists will probably be your go-to storage in Python
# Similar to vectors in R, but more flexible

In [71]:
wustl_chr 
# type(wustl_chr)

list

In [72]:
# We can add a new element to a list using the method append()
wustl_chr.append('P')
wustl_chr

['W',
 'a',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P']

In [73]:
# Lists can include multiple types of objects
wustl_chr.append(1)
wustl_chr.append(['1'])
wustl_chr

['W',
 'a',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P',
 1,
 ['1']]

In [76]:
# We can index lists
# wustl_chr[0]
# wustl_chr[-1][0]
wustl_chr[:2]

['W', 'a']

In [77]:
# We can also replace objects in a list
wustl_chr[0] = 'X'
wustl_chr

['X',
 'a',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P',
 1,
 ['1']]

In [78]:
# We can use len() to get the length of a list
len(wustl_chr)

23

In [79]:
# But, be careful because indexing starts at 0
# print(wustl_chr[len(wustl_chr)]) # IndexError
print(wustl_chr[len(wustl_chr) - 1]) # Return the object at the last index

['1']

In [81]:
# We can insert into any position using the method inset()
wustl_chr.insert(5, "!")
wustl_chr

['X',
 'a',
 's',
 'h',
 'i',
 '!',
 '!',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P',
 1,
 ['1']]

In [82]:
# We can also remove from any position
wustl_chr.pop(1)
wustl_chr

['X',
 's',
 'h',
 'i',
 '!',
 '!',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P',
 1,
 ['1']]

In [83]:
# We can remove the object at the last index using 
wustl_chr.pop()
wustl_chr

['X',
 's',
 'h',
 'i',
 '!',
 '!',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P',
 1]

In [84]:
# We can also remove using a value with the method remove()
# but notice, this removes the first instance
wustl_chr.remove('n')
wustl_chr

['X',
 's',
 'h',
 'i',
 '!',
 '!',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P',
 1]

In [85]:
# We can remove all instances from a list using list syntax
# More on this later
wustl_chr = [i for i in wustl_chr if i != 'i']
wustl_chr

['X',
 's',
 'h',
 '!',
 '!',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'v',
 'e',
 'r',
 's',
 't',
 'y',
 'P',
 1]

In [86]:
# We can check all the methods and attributes in a list using
dir(wustl_chr)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### 2.5 Data Type: Tuples

In [93]:
l = [7, 'a', '6']
type(l)
l

[7, 'a', '6']

In [94]:
l2 = (7, 'a', '6')
type(l2)
l2

(7, 'a', '6')

In [95]:
# Tuple: (), A tuple is a collection of objects which is ordered and immutable 
# Not very common, but useful occasionally and will appear from time to time

# We use () to create a tuple
tup = (1, 'a', 'a', 11, 6, 5, 'Apple', ['python', 'R'])

In [ ]:
tup[1]
# tup[1] = 'b'

In [ ]:
# Let's check the methods available for tuples
dir(tup)

#### 2.6 Data Type: Dictionary

In [ ]:
# A dictionary is a collection which is unordered, changeable and indexed 

# We use {} to create a dictionary
myInfo = {"name" : "Cecilia", "age" : 24, "research" : ["Methods", "American"]}
myInfo

In [ ]:
# myInfo.keys() # return the dictionary's key
myInfo.values() # return the dictionary's value

In [ ]:
# myInfo[0] # We cannot use index

# We can call entries by key
myInfo["name"]

In [ ]:
# We can add new elements to a dictionary
myInfo["last_name"] = "Sui"
myInfo

In [ ]:
# We can modify elements
myInfo["name"] = 'Yuan'
myInfo["research"] = 'Methods'
myInfo

#### 2.7 Data Type: Booleans & Conditionals

In [ ]:
# Perform an operation (or several) if condition is met (or not)
x = 1

if x == 1:
	print('x is one')
elif x == 2:
	print('x is two')
else:
	print('x is neither one nor two')

In [ ]:
# # Multiple lines of code:
# # - Indentation matters!
# # - Even an empty line with spaces can cause errors, 
# #   Python is very picky about this
# if x == 1:
# 	print('x is one')
# elif x == 2:
# 	print('x is two')
# else:
# print('x is neither one nor two') # IndentationError

In [ ]:
# Can be conditions or boolean (True or False)
True == (1 == 1.0) 
# TRUE == (1 == 1.0)  # Be careful, case sensitive. TRUE does not work

In [ ]:
True == 1
# False == 0

#### 2.8 Data Type: Loops

In [ ]:
# Two types of loops: for and while
# for loop: loops over iterable objects
# while loop: runs until condition is met 

# A string is an iterable object
for i in wustl:
	print(i)

In [ ]:
# We can iterate over a dictionary items in Python 3
for i in myInfo: # .items(): # .keys(): # .values(): 
	print(i) # Tuples!

In [ ]:
# We can unpack the elements of a dictionary
for k, v in myInfo.items():
	print(k, '->', v) # What does this do?

In [ ]:
# Sometimes is useful to write a short version of the for loop
sum([.05**i for i in range(1,10)]) # What is happening here?

In [ ]:
mynum = [] # instantiate an empty list
for i in range(1,10):
	mynum.append(.05**i)
# mynum
sum(mynum) # Sum the values in the list

In [ ]:
sum(mynum) == sum([.05**i for i in range(1,10)])

In [ ]:
# While loop: loops while condition is true
while len(wustl_chr) > 1:
	wustl_chr.pop()
# What happened to wustl_chr?
wustl_chr

In [340]:
# # Be careful with while loops, they can go forever
# # in ipython or terminal, stop with 'control + c'
# while True:
# 	print(i)

In [342]:
# Useful statements when using loops:
# break: stop the loop and go to the previous level
for i in range(1, 10):
	if i == 5:
		break
	print(i)

1
2
3
4

In [343]:
for j in ['a', 'b', 'c']:
	print(j)
	for i in range(1, 10):
		if i == 5:
			break
		print(i)

a
1
2
3
4
b
1
2
3
4
c
1
2
3
4

In [98]:
# pass: continue the evaluation to the next level
for i in range(1,10):
	if i == 5:
		print("I have 5")
	else:
		pass

I have 5

In [99]:
# continue: skip the evaluation and return to the same level
for i in range(1, 10):
	if i == 5:
		continue
	print(i)

1
2
3
4
6
7
8
9

#### 2.9 Functions

In [362]:
# Use them to write cleaner code 
# keep them simple
# We can return any type of object
# Don't forget to add return for output

# def function_name(parameters){
#       DO SOMETHING HERE
#       return values
# }

# Input, output
def add_squares(x = 2, y = 2):
	return x**2 + y**2

# Method operates the data in the class, while a function is used to return or pass data. 
# A function can be directly called by its name, but a method cannot. --> OOP

In [365]:
add_squares()

8

In [366]:
def add_squares_2(x, y):
	x += 1
	return x**2 + y**2

In [370]:
# add_squares_2()
add_squares_2(1, 2)

8

In [360]:
# Copyright of the original version:

# Copyright (c) 2014 Matt Dickenson
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.